In [2]:
import pandas as pd
import numpy as np

# Load the dataset from your local machine
df = pd.read_csv(r'C:\Users\abhis\Desktop\dataset for cleaning\data sets\Uncleaned_DS_jobs.csv')

# Display the first 5 rows to confirm it's loaded correctly
print("Original Data Head:")
print(df.head())

# Get an initial overview of the data
print("\nOriginal Data Info:")
df.info()

Original Data Head:
   index          Job Title               Salary Estimate  \
0      0  Sr Data Scientist  $137K-$171K (Glassdoor est.)
1      1     Data Scientist  $137K-$171K (Glassdoor est.)
2      2     Data Scientist  $137K-$171K (Glassdoor est.)
3      3     Data Scientist  $137K-$171K (Glassdoor est.)
4      4     Data Scientist  $137K-$171K (Glassdoor est.)

                                     Job Description  Rating  \
0  Description\n\nThe Senior Data Scientist is re...     3.1
1  Secure our Nation, Ignite your Future\n\nJoin ...     4.2
2  Overview\n\n\nAnalysis Group is one of the lar...     3.8
3  JOB DESCRIPTION:\n\nDo you have a passion for ...     3.5
4  Data Scientist\nAffinity Solutions / Marketing...     2.9

              Company Name       Location            Headquarters  \
0         Healthfirst\n3.1   New York, NY            New York, NY
1             ManTech\n4.2  Chantilly, VA             Herndon, VA
2      Analysis Group\n3.8     Boston, MA              Boston, MA
3             INFICON\n3.5     Newton, MA  Bad Ragaz, Switzerland
4  Affinity Solutions\n2.9   New York, NY            New York, NY

                      Size  Founded        Type of ownership  \
0   1001 to 5000 employees     1993   Nonprofit Organization
1  5001 to 10000 employees     1968         Company - Public
2   1001 to 5000 employees     1981  Private Practice / Firm
3    501 to 1000 employees     2000         Company - Public
4      51 to 200 employees     1998        Company - Private

                                Industry             Sector  \
0                     Insurance Carriers          Insurance
1                 Research & Development  Business Services
2                             Consulting  Business Services
3  Electrical & Electronic Manufacturing      Manufacturing
4                Advertising & Marketing  Business Services

                      Revenue  \
0    Unknown / Non-Applicable
1      $1 to $2 billion (USD)
2  $100 to $500 million (USD)
3  $100 to $500 million (USD)
4    Unknown / Non-Applicable

                                         Competitors
0            EmblemHealth, UnitedHealth Group, Aetna
1                                                 -1
2                                                 -1
3  MKS Instruments, Pfeiffer Vacuum, Agilent Tech...
4               Commerce Signals, Cardlytics, Yodlee

Original Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB

In [3]:
# Remove rows where salary is '-1' (or not specified)
df = df[df['Salary Estimate'] != '-1']

# Clean the 'Salary Estimate' column text
# Remove '(Glassdoor est.)' and 'K' and '$' symbols
salary = df['Salary Estimate'].str.split('(').str[0]
salary = salary.str.replace('K', '').str.replace('$', '')

# Split the range into 'min_salary' and 'max_salary'
df['min_salary'] = salary.apply(lambda x: int(x.split('-')[0]))
df['max_salary'] = salary.apply(lambda x: int(x.split('-')[1]))

# Create an 'avg_salary' column (in thousands)
df['avg_salary'] = (df['min_salary'] + df['max_salary']) / 2

print("\nSalary columns cleaned and created.")

Salary columns cleaned and created.

In [4]:
# Remove the rating and newline characters from the Company Name
df['company_cleaned'] = df['Company Name'].apply(lambda x: x.split('\n')[0])

print("Company Name cleaned.")

Company Name cleaned.

In [5]:
# Create a 'job_state' column by splitting the location string
df['job_state'] = df['Location'].apply(lambda x: x.split(',')[1].strip() if ',' in x else x.strip())

# Check the count of jobs per state
print("\nJobs per state:")
print(df.job_state.value_counts().head(10))

Jobs per state:
job_state
CA    165
VA     89
MA     62
NY     52
MD     39
IL     30
DC     26
TX     17
WA     16
OH     14
Name: count, dtype: int64

In [6]:
# Replace invalid 'Founded' year (-1) with NaN (Not a Number)
df['Founded'] = df['Founded'].replace(-1, np.nan)

# Simplify the 'Size' column by removing " employees"
df['Size'] = df['Size'].str.replace(' employees', '')

print("\nFounded and Size columns cleaned.")

Founded and Size columns cleaned.

In [7]:
# Simplify the 'Revenue' column
df['Revenue'] = df['Revenue'].str.replace(' (USD)', '', regex=False)
df['Revenue'] = df['Revenue'].replace('Unknown / Non-Applicable', np.nan)

print("Revenue column cleaned.")

Revenue column cleaned.

In [8]:
# Select and reorder the most important columns for a cleaner view
df_cleaned = df[['Job Title', 'company_cleaned', 'Location', 'job_state', 
                 'min_salary', 'max_salary', 'avg_salary', 
                 'Size', 'Founded', 'Type of ownership', 'Industry', 
                 'Sector', 'Revenue', 'Job Description']]

print("\nHead of the Final Cleaned DataFrame:")
print(df_cleaned.head())

print("\nInfo of the Final Cleaned DataFrame:")
df_cleaned.info()

# Save the cleaned dataframe to a new CSV file
df_cleaned.to_csv('Cleaned_DS_jobs.csv', index=False)

print("\nSuccessfully cleaned the data and saved it to 'Cleaned_DS_jobs.csv'")

Head of the Final Cleaned DataFrame:
           Job Title     company_cleaned       Location job_state  min_salary  \
0  Sr Data Scientist         Healthfirst   New York, NY        NY         137
1     Data Scientist             ManTech  Chantilly, VA        VA         137
2     Data Scientist      Analysis Group     Boston, MA        MA         137
3     Data Scientist             INFICON     Newton, MA        MA         137
4     Data Scientist  Affinity Solutions   New York, NY        NY         137

   max_salary  avg_salary           Size  Founded        Type of ownership  \
0         171       154.0   1001 to 5000   1993.0   Nonprofit Organization
1         171       154.0  5001 to 10000   1968.0         Company - Public
2         171       154.0   1001 to 5000   1981.0  Private Practice / Firm
3         171       154.0    501 to 1000   2000.0         Company - Public
4         171       154.0      51 to 200   1998.0        Company - Private

                                Industry             Sector  \
0                     Insurance Carriers          Insurance
1                 Research & Development  Business Services
2                             Consulting  Business Services
3  Electrical & Electronic Manufacturing      Manufacturing
4                Advertising & Marketing  Business Services

                Revenue                                    Job Description
0                   NaN  Description\n\nThe Senior Data Scientist is re...
1      $1 to $2 billion  Secure our Nation, Ignite your Future\n\nJoin ...
2  $100 to $500 million  Overview\n\n\nAnalysis Group is one of the lar...
3  $100 to $500 million  JOB DESCRIPTION:\n\nDo you have a passion for ...
4                   NaN  Data Scientist\nAffinity Solutions / Marketing...

Info of the Final Cleaned DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          672 non-null    object
 1   company_cleaned    672 non-null    object
 2   Location           672 non-null    object
 3   job_state          672 non-null    object
 4   min_salary         672 non-null    int64
 5   max_salary         672 non-null    int64
 6   avg_salary         672 non-null    float64
 7   Size               672 non-null    object
 8   Founded            554 non-null    float64
 9   Type of ownership  672 non-null    object
 10  Industry           672 non-null    object
 11  Sector             672 non-null    object
 12  Revenue            459 non-null    object
 13  Job Description    672 non-null    object
dtypes: float64(2), int64(2), object(10)
memory usage: 73.6+ KB

Successfully cleaned the data and saved it to 'Cleaned_DS_jobs.csv'

In [9]:
# Save the final, cleaned dataframe to a new CSV file
df_cleaned.to_csv('Cleaned_DS_jobs.csv', index=False)

print("Cleaned data has been successfully saved to 'Cleaned_DS_jobs.csv'")

Cleaned data has been successfully saved to 'Cleaned_DS_jobs.csv'

In [10]:
# Define the full path for the new, cleaned file
cleaned_file_path = r'C:\Users\abhis\Desktop\dataset for cleaning\data sets\Cleaned_DS_jobs.csv'

# Save the cleaned DataFrame to this specific location
df_cleaned.to_csv(cleaned_file_path, index=False)

print(f"Cleaned data successfully saved to: {cleaned_file_path}")

Cleaned data successfully saved to: C:\Users\abhis\Desktop\dataset for cleaning\data sets\Cleaned_DS_jobs.csv